#
# Pinned requirements for a reproducible EEfinder documentation build.
# This is a lock of the versions that resolve from docs/requirements.in;
# Read the Docs installs requirements.in, so regenerate this file with:
#
#    pip install -r docs/requirements.in && pip freeze > docs/requirements.txt
#
alabaster==1.0.0
babel==2.18.0
certifi==2026.6.17
charset-normalizer==3.4.9
docutils==0.21.2
idna==3.18
imagesize==2.0.0
Jinja2==3.1.6
markdown-it-py==3.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.6.1
mdurl==0.1.2
myst-parser==4.0.1
packaging==26.2
Pygments==2.20.0
PyYAML==6.0.3
requests==2.34.2
roman-numerals==4.1.0
snowballstemmer==3.1.1
Sphinx==8.0.0
sphinx-copybutton==0.5.2
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-mermaid==2.0.3
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
urllib3==2.7.0
